                        <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
<div class="page__footer-follow">
  <ul class="social-icons">

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    <li><a href="https://www.facebook.com/sonu.virendra123" target="https://www.facebook.com/sonu.virendra123"><img src='/images/Facebook Round.png' /></a></li>
	<li><a href="https://www.instagram.com/veerendrasonu/?hl=en" target="https://www.instagram.com/veerendrasonu/?hl=en"><img src='/images/Instagram round social media icon free.png' /></a></li>
	<li><a href="https://github.com/veerendrababum" target="https://github.com/veerendrababum"><img src='/images/Skype round social media icon free.png' /></a></li>
  </ul>
</div>


